<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='start.css') }}"
    />
    <title>Quiz</title>
  </head>
  <body>
    <h2>Choose quiz:</h2>
    <form method="post" action="/test">
      <select name="quiz_id">
        {% for id, name in q_list %}
        <option value="{{ id }}">{{name}}</option>
        {% endfor %}
      </select>
      <p><input type="submit" value="Choose" /></p>
    </form>
  </body>
</html>
