<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='test.css') }}"
    />
    <title>Question</title>
  </head>
  <body>
    <form method="post" action="http://localhost:5000/result">
      {% for id, question, answer, wrong1, wrong2, wrong3 in questions %}
      <div>
        <h2>{{ question }}</h2>
        <select name="{{ question }}" id="{{ id }}">
          <option value="{{ answer }}">{{ answer }}</option>
          <option value="{{ wrong1 }}">{{ wrong1 }}</option>
          <option value="{{ wrong2 }}">{{ wrong2 }}</option>
          <option value="{{ wrong3 }}">{{ wrong3 }}</option>
        </select>
      </div>
      {% endfor %}
    </form>
    <!--{% if question %}
    <h1>{{question.question}}</h1>
    <form method="post" action="http:\\asdasd.com\">
      <input type="hidden" name="quest_id" value="{{question.quest_id}}" />
      <div class"outer-div"> 
        {% for answer in question.answers %}
        <div class="form_radio_btn">
          <input type="radio" name="ans_text" value="{{answer}}" />{{ answer }}
        </div>
        {% endfor %}
      </div>
      <div class="inner-div">
        <button type="submit">Submit</button>
      </div>
    </form>
    {% endif %}
  </body>
</html>
